<!DOCTYPE html>
<html>

<head>
    <title>LOGIN</title>
    <link rel="stylesheet" href="styless.css">
    <h1> INICIAR SECION</h1>
</head>

<body>

    <label for="Formulario">
    <form action="../CONTROLLER/LoginForm.php" method="post">
        <label for="Usuario">USUARIO</label> <br>
        <input type="TEXT" id="Usuario" name="Usuario"><br>
        <label for="Contrasena">CONTRASEÑA</label><br>
        <input type="password" id="Contrasena" name="Contrasena"><br>
        <button>Enviar</button> <br>
        <br>
    </form>
    
    
    </label>

    <label for="recuperar_contrasena">
        olvidaste tu usuario o contraseña?: <button>recuperar</button> <br>
    </label>

    <label for="Registrar">
        no tienes una cuenta?: <button>crear cuenta</button><br>
        
    </label>

</body>

</html>