<!DOCTYPE html>
<html>

<head>
    <title>REGISTRO</title>
    <link rel="stylesheet" href="styless.css">
    <h1> REGISTRARSE</h1>
</head>

<body>

    <label for="Formulario">
    <form action="../CONTROLLER/RegisterForm.php" method="post">
        <label for="Usuario">USUARIO</label> <br>
        <input type="text" id="Usuario" name="Usuario"><br>

        <label for="Email">Email</label><br>
        <input type="text" id="Email" name="Email"><br>

        <label for="Contrasena">CONTRASEÑA</label><br>
        <input type="password" id="Contrasena" name="Contrasena"><br>

        <label for="FECHA">FECHA DE NACIMIENTO</label><br>
        <input type="date" id="FECHA" name="FECHA"><br>
        <button>Enviar</button><br>
        <br> 
    </form>
    </label>

    <label for="Login">
        Ya tienes una cuenta?: <button>iniciar sesicion</button>
    </label>

</body>

</html>